.converter-form {
  width: 10%;
  margin: auto;
}

.converter-label, .converter-input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 1rem;;
}

.converter-input {
  margin-bottom: 1rem;
}

.converter-label {
  color: #fff;
  background-color: #34495e;
}
